

h4{
color:  #dfae08;
padding-bottom: 20px;
}


.home{
	background-color:  white;
	height: 500px;
	padding-top: 60px;
	padding-left: 50px;
	margin-top: 50px;
}


.short{
	background-image:url("images/7.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 200px;
	width: 100%;
}


.place{
	margin-top: 30px;
	height: 600px;
	background-color: white;
	padding-top: 20px;

}


body{

	background-color: #ededed;
}


.btn-primary{
	margin-top: 0;
	/*margin-left: 750px;*/
	width: 330px;
	background-color: #dfae08;
	border: #dfae08;
}

.btn-primary:hover{
	color: #000000;
	background-color:  #dfae08;

}



form {
	/*background-color: #A0A0A0;*/
	width: 70%;
	margin-bottom: 60px;
	/*margin-left: 100px;*/
	height: 400px;
	padding-top: 20px;
	padding-left: 20px;
	padding-right: 50px;

}









